body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress {
  padding: 6px 12px 6px 0;
  cursor: pointer;
  align-items: center;
}

.progress-rank {
  align-items: center;
  text-align: left;
}

.progress-bar {
  margin-left: 12px;
  position: relative;
  align-items: center;
}

.progress-line {
  position: relative;
  height: 1px;
  background: #dcdcdc;
  width: 100%;
  align-items: center;
}

.progress-marker {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: left 200ms ease;
  transform: translate(-50%, 0);
}

.progress-marker .progress-value {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 0.75em;
  font-weight: bold;
  background: yellow;
}

.progress-dots {
  width: 100%;
  justify-content: space-between;
}

.progress-dot {
  display: block;
  width: 0;
  position: relative;
}

.progress-dot::after {
  content: '';
  display: block;
  position: absolute;
  background-color: yellow;
  left: -5px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 200ms 100ms ease;
}

.wordlist-word {
  text-align: left;
}

.wordlist-word::after {
  content: '';
  display: block;
  position: relative;
  width: 80%;
  height: 1px;
  background-color: white;
}

.controls {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hive {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.hive-cell {
  float: left;
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #e6e6e6 !important;
  position: relative;
  border: 0 !important;
  border-radius: 0 !important;
  transform: rotate(30deg);
}

.hive-cell::before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 30px solid #e6e6e6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hive-cell::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid #e6e6e6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
