body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress {
  padding: 6px 12px 6px 0;
  cursor: pointer;
  align-items: center;
}

.progress-rank {
  align-items: center;
}

.progress-bar {
  margin-left: 12px;
  position: relative;
  align-items: center;
}

.progress-line {
  position: relative;
  height: 1px;
  background: #dcdcdc;
  width: 100%;
  align-items: center;
}

.progress-marker {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: left 200ms ease;
  transform: translate(-50%, 0);
}

.progress-marker .progress-value {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: black;
  font-size: 0.75em;
  background: yellow;
}

.progress-dots {
  width: 100%;
  justify-content: space-between;
}

.progress-dot {
  display: block;
  width: 0;
  position: relative;
}

.progress-dot::after {
  content: '';
  display: block;
  position: absolute;
  background-color: yellow;
  left: -5px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 200ms 100ms ease;
}

.wordlist-word {
  text-align: left;
}

.wordlist-word::after {
  content: '';
  display: block;
  position: relative;
  width: 80%;
  height: 1px;
  background-color: white;
}
